<h1><%= @pet.name %></h1>

<% if @pet.photo.attached? %>
  <div class="mb-3">
    <%= image_tag @pet.photo,
          width: 300,
          class: "img-fluid rounded" %>
  </div>
<% else %>
  <div class="alert alert-secondary w-25 text-center">
    No photo available
  </div>
<% end %>

<p>Species: <%= @pet.species %></p>
<p>Breed: <%= @pet.breed %></p>
<p>Birth: <%= @pet.date_of_birth.strftime("%B %d, %Y") %></p>
<p>Weight: <%= @pet.weight %></p>

<p>
  Owner: <%= link_to @pet.owner.first_name, @pet.owner %>
</p>

<h2>Appointments</h2>

<ul>
  <% @pet.appointments.each do |a| %>
    <li>
      <%= link_to a.date.strftime("%B %d, %Y %H:%M"), a %>
    </li>
  <% end %>
</ul>

<div class="mt-3">
  <%= link_to "Edit", edit_pet_path(@pet), class: "btn btn-warning" %>

  <%= button_to "Delete", pet_path(@pet),
        method: :delete,
        data: { turbo_confirm: "Are you sure?" },
        class: "btn btn-danger d-inline" %>

  <%= link_to "Back", pets_path, class: "btn btn-secondary" %>
</div>